* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #bde0fe;
  padding: 10px;
  height: 250px;
  border-radius: 5px;
}

.stage {
  display: flex;
  background: #a0c4ff;
  padding: 10px;
  border-radius: 5px;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.stage td:hover{
  background: violet;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #bde0fe;
  padding: 10px;
  border-radius: 5px;
  height: 250px;
}

.right-sidebar table {
  opacity: 1;
  cursor: pointer;
}

.right-sidebar table:hover {
  background-color: dimgray;
}

.select-new-game {
  display: flex;
  flex-direction: column;
  background: #ffafcc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.select-new-game select {
  background-color: #0563af;
  color: white;
  padding: 2px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.select-new-game select option {
  padding: 30px;
}

table {
  border-collapse: collapse;
  font-family: 'Courier New', Courier, monospace;
  background: white;
}

colgroup,
tbody {
  border: solid rgb(5, 31, 4);
}

td {
  border: 1px solid;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  padding: 0;
}

button {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  color: white;
  cursor: pointer;
  padding: 5px 16px;
  margin: 10px;
}

button:hover {
  background-color: #f082ac;
}

.fixed,
.stage .fixed:hover {
  background-color: #fda8f2;
  cursor: default;
}

.fromSolution,
.stage .fromSolution:hover {
  background-color: #a5fffb;
}

.activate {
  background-color: #a0c4ff;
  cursor: pointer;
}

.activate td:hover {
  background-color: #f082ac;
}

.deactivate {
  background-color: dimgray;
}

.selected, .selected:hover {
  background-color: red;
}